#form__container{
    border: 1px solid red;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    align-items: flex-end;
    gap: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    input, select{
        width: 100%;
    }

    .message{
        height: 3rem;
    }
}