@use '../../sass/base.scss';

#CourseModuleContainer {
    width: 95%;
    height: 100%;
    @include base.flexCenter;
    align-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
    @include base.lightBlue;
    margin: 2% 0;

    h2 {
        @include base.textAlign;
    }

    section {
        width: 100%;
        @include base.flexCenter;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 2% 0;
    }


}

