@use './sass/base.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#AppContainer {
    @include base.flexCenter;
    flex-wrap: wrap;
}

body {
    width: 100%;
    @include base.flexCenter;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color: #24272f;
}